* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  overflow: hidden;
}

.traffic-light {
  position: relative;
  width: 120px;
  height: 240px;
  background: radial-gradient(black, #333333);
  border-radius: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pole {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 30px;
  height: 290px;
  background: linear-gradient(to right, grey, darkgrey, grey);
  transform: translateX(-50%);
}

.cap {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 30px;
  height: 15px;
  background: linear-gradient(to right, grey, darkgrey, grey);
  transform: translateX(-50%);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.border {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 1px solid darkgrey;
  border-radius: 18px;
}

.light {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #111111;
  border-top: 3px solid darkgrey;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.light.green {
  animation-name: green;
}

.light.yellow {
  animation-name: yellow;
}

.light.red {
  animation-name: red;
}

@keyframes green {
  0%,
  49% {
    background: radial-gradient(lightgreen, limegreen);
    box-shadow: 0px 0px 80px lightgreen;
  }

  50%,
  100% {
    background: inherit;
    box-shadow: none;
  }
}

@keyframes yellow {
  0%,
  49%,
  60%,
  100% {
    background: inherit;
    box-shadow: none;
  }

  50%,
  59% {
    background: radial-gradient(yellow, goldenrod);
    box-shadow: 0px 0px 80px yellow;
  }
}

@keyframes red {
  0%,
  59% {
    background: inherit;
    box-shadow: none;
  }

  60%,
  100% {
    background: radial-gradient(orangered, crimson);
    box-shadow: 0px 0px 80px orangered;
  }
}